html{
  font-family: Arial, Helvetica, sans-serif
}

.row {
  display: flex;
}

.col {
  padding: 0 30px;
}

.border-l {
  border-left: 1px solid #ccc;
}

table{
  border-collapse: collapse;
  border: none;
  word-wrap: break-word;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  background-color: antiquewhite;
  border: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: rgb(73, 173, 231);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 800;
  margin-bottom: 5px;
}

button:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); 
}

.get-btn {
  background-color: rgb(87, 179, 87);
}

.post-btn {
  background-color: rgb(233, 170, 94);
}

.del-btn {
  background-color: rgb(241, 97, 97);
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.center-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#qrcode {
  margin: 30px 0;
}

ul {
  text-align: left;
}