<!DOCTYPE html>
<html>

<head>
	<title>QR Payment System</title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<div id="container">
		<h1>Bem-vindo ao Sistema de Pagamentos!</h1>
		<form id="payment-form">
			<input type="number" id="amount" name="amount" placeholder="Valor" required>
			<button type="submit">Criar Pagamento</button>
			<br>
			<div id="qr-code"></div>
			<div id="tableContainer"></div>
		</form>
	</div>

	<script src="/static/script.js"></script>
</body>

</html>